body{
    background-color: cadetblue;
}

h1{
    color:brown;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p{
    color:#fff;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}